@page "/home"
@using ForexApp.Models
@using ForexApp.Services

<hr />

@if (forexData != null && forexData.TimeSeriesFx != null)
{
    <!-- Forex information -->
    <div style="padding: 10px;">
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <p style="font-size: 18px; font-weight: bold; color: #1c3c6c; margin-right: 10px;">Forex Daily Prices</p>
            <p style="margin-right: 10px;">From:
                <select style="width: 120px; padding: 5px; font-size: 16px; font-weight: bold; border: none; background-color: #f8f9fa; color: rgba(0, 0, 0, 0.6);">
                    <option value="GBP" selected>GBP</option>
                    <option value="EUR">EUR</option>
                    <option value="USD">USD</option>
                </select>
            </p>
            <p style="margin-right: 10px;">To:
                <select style="width: 120px; padding: 5px; font-size: 16px; font-weight: bold; border: none; background-color: #f8f9fa; color: rgba(0, 0, 0, 0.6);">
                    <option value="GBP">GBP</option>
                    <option value="EUR" selected>EUR</option>
                    <option value="USD">USD</option>
                </select>
            </p>
            <button class="btn" style="margin-left: 10px; background-color: transparent; border: none;"><span class="oi oi-loop-circular" aria-hidden="true" style="color: #1c3c6c;"></span></button>
        </div>
        <p class="last-refreshed" style="margin-top: 10px;">Last Refreshed: @forexData.MetaData!.LastRefreshed</p>
    </div>

    <!-- Table to display forex data -->
    <table class="table" style="margin-top: 20px;">
        <thead>
            <tr>
                <th style="text-align: center; color: #6c757d;">Open</th>
                <th style="background-color: #ffffff; border-left: 1px solid #dee2e6; border-right: 1px solid #dee2e6; text-align: center; color: #6c757d;">High</th>
                <th style="background-color: #ffffff; border-left: 1px solid #dee2e6; border-right: 1px solid #dee2e6; text-align: center; color: #6c757d;">Low</th>
                <th style="text-align: center; color: #6c757d;">Close</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="color: #6c757d; text-align: center;">@forexData.TimeSeriesFx!.Open</td>
                <td style="background-color: #f1f1f1; border-left: 1px solid #dee2e6; border-right: 1px solid #dee2e6; font-weight: bold; color: #6c757d; text-align: center;">@forexData.TimeSeriesFx!.High</td>
                <td style="background-color: #f1f1f1; border-left: 1px solid #dee2e6; border-right: 1px solid #dee2e6; font-weight: bold; color: #6c757d; text-align: center;">@forexData.TimeSeriesFx!.Low</td>
                <td style="color: #6c757d; text-align: center;">@forexData.TimeSeriesFx!.Close</td>
            </tr>
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

@code {
    private ForexData forexData;

    protected override void OnInitialized()
    {
        forexData = StaticForexDataService.GetStaticForexData();
    }
}
