@page "/home"
@using ForexApp.Models
@using ForexApp.Services
@inject ForexService forexService

<style>
    body {
        background-color: #f3f3f4;
    }

    .content-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .title {
        font-size: 24px;
        font-weight: bold;
        color: #1c3c6c;
        margin-right: 50px;
    }

    .select-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-right: 40px;
    }

    .select-container select {
        width: 120px;
        padding: 15px;
        font-size: 16px;
        font-weight: bold;
        border: 1px solid #ccc;
        background-color: #f8f9fa;
        color: rgba(0, 0, 0, 0.6);
        margin-right: 20px;
    }

    .last-refreshed {
        font-size: 14px;
        color: #6c757d;
        margin-top: -50px;
    }
</style>

@if (forexData != null && forexData.TimeSeries != null)
{
    <div class="content-container">
        <div class="select-container">
            <p class="title">Forex Daily Prices</p>
            <div class="select-container">
                <select @onchange="OnFromCurrencyChanged">
                    <option value="GBP">GBP</option>
                    <option value="EUR" selected>EUR</option>
                    <option value="USD">USD</option>
                </select>
                <select @onchange="OnToCurrencyChanged">
                    <option value="GBP">GBP</option>
                    <option value="EUR">EUR</option>
                    <option value="USD" selected>USD</option>
                </select>
                <button class="btn" @onclick="RefreshData"><span class="oi oi-loop-circular" aria-hidden="true"></span></button>
            </div>
        </div>
        <p class="last-refreshed">Last Refreshed: @forexData.MetaData!.LastRefreshed</p>

        <table class="table">
            <thead>
                <tr>
                    <th style="text-align: center; color: #6c757d;">Open</th>
                    <th style="background-color: #ffffff; border-left: 1px solid #dee2e6; border-right: 1px solid #dee2e6; text-align: center; color: #6c757d;">High</th>
                    <th style="background-color: #ffffff; border-left: 1px solid #dee2e6; border-right: 1px solid #dee2e6; text-align: center; color: #6c757d;">Low</th>
                    <th style="text-align: center; color: #6c757d;">Close</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kvp in forexData.TimeSeries)
                {
                    <tr>
                        <td style="color: #6c757d; text-align: center;">@kvp.Value.OpenAsDecimal</td>
                        <td style="background-color: #f1f1f1; border-left: 1px solid #dee2e6; border-right: 1px solid #dee2e6; font-weight: bold; color: #6c757d; text-align: center;">@kvp.Value.HighAsDecimal</td>
                        <td style="background-color: #f1f1f1; border-left: 1px solid #dee2e6; border-right: 1px solid #dee2e6; font-weight: bold; color: #6c757d; text-align: center;">@kvp.Value.LowAsDecimal</td>
                        <td style="color: #6c757d; text-align: center;">@kvp.Value.CloseAsDecimal</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else if (forexData == null)
{
    <p>Error fetching data. Please try again later.</p>
}
else
{
    <p class="message">Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at <a href="https://www.alphavantage.co/premium/">https://www.alphavantage.co/premium/</a> to instantly remove all daily rate limits.</p>
    <button class="btn btn-primary" @onclick="CreateStaticData">Load Static Data</button>
}

@code {
    private ForexData forexData;
    private string fromCurrency = "EUR";
    private string toCurrency = "USD";

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        try
        {
            forexData = await forexService.GetForexDataAsync(fromCurrency, toCurrency);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching data: {ex.Message}");
            forexData = null;
        }
    }

    private async Task OnFromCurrencyChanged(ChangeEventArgs e)
    {
        fromCurrency = e.Value.ToString();
        await RefreshData();
    }

    private async Task OnToCurrencyChanged(ChangeEventArgs e)
    {
        toCurrency = e.Value.ToString();
        await RefreshData();
    }

    private void CreateStaticData()
    {
        // Criar instância fictícia de ForexData e TimeSeries
        forexData = new ForexData
        {
            MetaData = new MetaData
            {
                Information = "Forex Daily Prices (open, high, low, close)",
                FromSymbol = "EUR",
                ToSymbol = "USD",
                LastRefreshed = "2024-04-05 21:05:00",
                TimeZone = "UTC"
            },
            TimeSeries = new Dictionary<string, TimeSeriesData>
            {
                {
                    "2024-04-05", new TimeSeriesData
                    {
                        Open = "1.08379",
                        High = "1.08480",
                        Low = "1.07912",
                        Close = "1.08360"
                    }
                }
            }
        };

        // Atualizar a UI para refletir os dados estáticos de forma assíncrona e segura para threads
        InvokeAsync(() => StateHasChanged());
    }
}
